.ComposableMapContainer {
  .ComposableMap {
    transform: translate(0, -250px);
    @media screen and (max-width: 1650px) {
      transform: translate(0, -200px);
    }
    @media screen and (max-width: 1250px) {
      transform: translate(0, -150px);
    }
    // transform: translate(0, -200px);
    @media screen and (max-width: 1024px) {
      transform: translate(0, -120px);
    }
    @media screen and (max-width: 900px) {
      transform: translate(0, -3px);
      scale: 1.5;
    }
    @media screen and (max-width: 600px) {
      transform: translate(0, 70px);
      scale: 1.5;
    }
  }
}
