.ChartCards {
  button {
    color: #e8eaed;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 1rem;
    padding: 2px 5px;
    background: none;
    &:hover {
      background-color: #394457;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    margin-right: 28px;
  }
  .SelectedButton {
    background-color: #394457;
  }
  .DisplayCard {
    height: 600px;
  }
  .ChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    transition: 1s;
  }
  .SelectHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // place-items: center;
    margin-bottom: 28px;
    .SelectedBox {
      color: #394457;
    }
  }
}
